.garden {
  min-width: 400px;
  min-height: 300px;
  background-image: url("https://i.pinimg.com/1200x/1d/b6/48/1db64854fcdf1e9eec18e4915181e7d4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  justify-items: center;
}

.plants {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);

  align-items: center;
  justify-content: center;
  height: 80px;
  width: 350px;

  position: absolute;
  top: 130px;

  flex-wrap: wrap;
}

.name {
  width: 40px;
  height: 10px;

  box-sizing: content-box;

  text-align: center;
  opacity: 0;
  text-wrap: nowrap;
  overflow: visible;
  text-align: center;
  position: relative;
}
.name .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gardenItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gardenItem:hover .name {
  opacity: 100;
}
.plantPic {
  width: 30px;
  height: 40px;
}
