.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.list > input {
  width: 100%;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgb(200, 200, 200);

  padding: 15px 0;
}
.list > input::placeholder {
  font-size: 14px;
  color: rgb(200, 200, 200);
}
.list > input:focus {
  outline: none;
  border-bottom: 1px solid #a9fa4d;
}
.list .todoWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
